<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Commerce Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
          
      </ul>
      
      
  </div>
</div>
</nav>
<div class="container mt-5">
    <div class="card text-center" style="padding: 20px;">
     <h1>ADMIN LOGIN</h1>
    </div>
 </div>


<div class="container mt-4" >

    <div class="card">
        
<form>
 
    <div class="form-group">
        <label>Admin Email</label>
        <input type="email" [(ngModel)]="aemail" [ngModelOptions]="{standalone: true}" class="form-control" id="email"  placeholder="Enter Email">
      </div>
 
      <div class="form-group">
        <label> Admin Password</label>
        <input type="password" [(ngModel)]="apassword" [ngModelOptions]="{standalone: true}" class="form-control" id="password" class="form-control" placeholder="Enter Password">
      </div>
 
     <button type="submit" class="btn btn-primary" (click)="aLogin()">Login</button>
 
 
  </form>
</div>
 
</div>